.button {
  background: linear-gradient(to bottom right, #4790efd4, #5affe6da);
  border: 0;
  border-radius: 0px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, "Open Sans", "Helvetica Neue", "Helvetica", Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 5px;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
.font {
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.list {
  box-shadow: rgb(151 117 117 / 16%) 0px 10px 36px 0px,
    rgb(235 214 214 / 6%) 0px 0px 0px 1px;
  width: auto;
  margin: 12px auto;
  padding: 2px;
  border: solid #aaa;
  color: #ffffff;
}
